@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&display=swap");

:root {
  --sidebar-flex: 1.5;
  --condiv-flex: 6;
  --fontsize-p: 1.2rem;
  --fontsize-nav: 1.6rem;
  --typing-font: 3rem;
}

* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  width: 100vw;
  min-height: 100vh;
}

.condiv {
  padding: 50px;
  background-color: #f4f5f9;
  flex: var(--condiv-flex);
}

.sidebar {
  flex: 0 0 240px;
  background-color: rgb(218, 135, 58);
}

.content {
  flex: 1;
  padding-top: 28%;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  font-family: "Raleway";
}

nav {
  padding-top: 8%;
  text-align: center;
  flex: var(--sidebar-flex);
  background: rgb(103, 184, 238);
  background: linear-gradient(
    180deg,
    rgba(103, 184, 238) 50%,
    rgba(132, 124, 252, 1) 80%
  );
}

nav ul {
  font-size: var(--fontsize-nav);
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  color: white !important;
}

nav ul li {
  text-decoration: none;
  margin: 20px;
}

.active {
  font-weight: bolder;
}

a {
  text-decoration: none;
  color: white;
}

.profilepic {
  border-radius: 50%;
  width: 150px;
  margin: 30px;
}

.typingeffect {
  font-size: var(--typing-font);
  margin-bottom: 30px;
}

.subtopic {
  margin: 10px 10px 30px 10px !important;
}

.social {
  position: absolute;
  margin-top: 20px;
  display: flex;
  bottom: 60px;
}

.social i {
  padding-right: 30px;
  font-size: 25px;
  color: #9a9b9c;
}

.social i:hover {
  color: #ffffff;
}

.divGrid {
  display: grid;
  grid-template-columns: auto auto;
}
@media all and (max-width: 450px) {
  :root {
    --fontsize-nav: 1rem;
    --sidebar-flex: 0;
    --typing-font: 2rem;
  }
  .App {
    flex-direction: column;
  }
  .sidebar {
    padding: 30px;
    background: rgb(238, 103, 143);
    background: linear-gradient(
      90deg,
      rgba(238, 103, 143, 1) 50%,
      rgba(132, 124, 252, 1) 80%
    );
  }
  .condiv {
    padding: 50px;
  }
  nav ul {
    display: flex;
  }
  nav ul li {
    margin: 10px;
  }
  .social {
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    bottom: 30px;
  }
  .social i {
    padding-right: 0px;
  }
  .divGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
